@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
.navBarWrapper {
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.navBar{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly; 
}

.navBar li {
  list-style: none;
  cursor: pointer;
}

.navBar a {
  color: white;
  text-decoration: none;
}